@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.landingpage{
  background-image: url('../assets/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.navbar-brand{
  margin: 0;
  padding: 50px 0 50px 120px;
}

.brand{
  font-family: 'Montserrat', sans-serif;
}

.content{
  padding-bottom: 200px;
}

.content-h1{
  margin: 0;
  padding: 100px 0 50px 120px;
  display: inline-block;
  filter: brightness(100%);
}

.inputbox {
  position: relative;
  height: 60px;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 0 0 0 120px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.inputbox .search-icon,
.inputbox .button {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputbox .search-icon {
  left: 20px;
  font-size: 30px;
  color: #000000;
}

.inputbox input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

.inputbox .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #333333;
  cursor: pointer;
}

.inputbox .button:active {
  transform: translateY(-50%) scale(0.98);
}

@media screen and (max-width: 1000px) {

  .navbar-brand{
    padding-left: 50px;
  }

  .content-h1{
    padding-left: 50px;
  }

  .inputbox {
    height: 66px;
    width: 350px;
    margin: 0 50px;
  }
  .inputbox i {
    left: 12px;
    font-size: 25px;
  }
  .inputbox input {
    padding: 0 0 0 50px;
  }
  .inputbox .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 450px) {
  .navbar-brand{
    padding-left: 5px;
  }

  .content-h1{
    padding-left: 5px;
  }

  .inputbox {
    height: 66px;
    width: 350px;
  }
  .inputbox .search-icon {
    display: none;
  }
  .inputbox input {
    padding: 0 0 0 5px;
  }
  .inputbox .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}